__pycache__/
.env
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pytest_cache/
.tox/
*.egg-info/
*.local
*.log
*.py[cod]
*tmp*
dask-worker-space/
monkeytype.sqlite3
venv/
.venv/

# Ignore all files under local/
local/*

# Do not ignore subdirectories themselves
!local/**/

# Keep .gitkeep files anywhere
!local/**/.gitkeep
