[user]
name = Brian Larsen
email = B_R_L@hotmail.com
[core]
editor = code-insiders --wait                       # nano
# pager = diff-so-fancy | less --tabs=4 -RFX
[push]
default = current
[help]
autocorrect = 30
[interactive]
# diffFilter = diff-so-fancy --patch
[color]
ui = true
[color "diff"]
meta = 11
frag = magenta bold
func = 146 bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse
[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22
[diff]
tool = vscode
# [diff-so-fancy]
# 	markEmptyLines = false
[difftool "vscode"]
cmd = code-insiders --wait --diff $LOCAL $REMOTE
[merge]
tool = vscode
[mergetool "vscode"]
cmd = code-insiders --wait $MERGED
[credential]
helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
